# IDE
.idea/
.vscode/

# Python Virtual Environments
.venv/
venv/
env/
botenv/

# Python Cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/

# Logs
logs/*
!logs/.keep

# OS Files
.DS_Store

# Model Files
model_files/

# Node Modules
node_modules/

# Build Folders
build/

# Next.js
.next/
out/

# Environment Files
.env
.env.local
.env.development.local
.env.production.local

# Misc
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*